*{
	margin: 0;
	padding: 0;
	outline: none;
	font-family: sans-serif;
}
html,body{
	height: 100%;
}
.container{
	min-height: 100%;
	margin-bottom: -70px; 
	background-color: #f7f9fa;
}
.area{
	padding: 40px 70px;
}
.title{
	text-transform: uppercase;
	font-weight: bold;
}
.photo,.info{
	float: left;
}
.info{
	margin: 0 0 0 10px;
}
.name{
	text-decoration: none;
	color: #2C76C7;
}
.graph{
	display: inline-block;
}
.ajax_btn{
	background-color: white;
	display: inline-block;
	padding:5px 50px 7px 50px;
	margin-top: -1px;
	border: 1px solid #D8D9DA;
	border-top: 1px dashed #D8D9DA;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
}
.ajax_btn:hover{
	color: #D8D9DA;
}
.header{
	height: 35px;
}
.header,.footer{
	background-color: #4c5151;
}
.container:after {
	content: "";
	display: block;
}
.footer, .container:after {
	height: 70px; 
}




.main{
	width: 95%;
	border-collapse: collapse;
	background-color: white;
	font-size: 18px;
}
.main thead tr{
	background-color: #ECF0F3;
}
.main thead th:not(:first-child){
	padding: 5px 0;
	width: 150px;
}
.main tbody tr td:not(:first-child){
	text-align: center;
}
.main tr {
	border: 1px solid #D8D9DA;
	border-collapse: collapse;
}
.main tbody tr:nth-child(2n+1){
	background-color: #FBFBFB;
}
.main tbody td{
	padding: 10px;
}
.main tfoot td{
	background-color: #f7f9fa;
	text-align: center;
}
.main tfoot tr{
	border: none;
}



.plus,.ok{
	display: inline-block;
    width: 15px;
    height: 15px;
    background: #B6B6B6;
  /*  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;*/
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    color: white;
	font-weight: bold;
	font-size: 14px;
}
.plus:hover .hide1, .plus .hide2, .ok .hide1, .ok:hover .hide2{
	display: none;
}
.plus:hover::before{
	content: "Follow";
	background-color: #A4C574;
	border-radius: 50px;
	padding: 0px 10px;
	font-weight: 100;
}
.ok{
	font-size: 11px;
	background-color: #A4C574;
}
.ok .hide2{
	display: inline-block;
}
.ok:hover::before{
	content: "Unfollow";
	background-color: red;
	border-radius: 50px;
	padding: 0px 10px;
	font-weight: 100;
	font-size: 14px;
}
