<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
	<link rel="stylesheet" href="css/style.min.css">
	<script src="js/script.min.js"></script>
</head>

<body>
<div class="container">
	<header class="header"></header>
	<div class="area">
		<div class="title">
			<img class="people" src="../img/people.png"/>
			people
		</div>
		<table class="main" ng-controller="TableList">
			<thead>
				<tr>
					<th></th>
					<th>Ideas</th>
					<th>Following</th>
					<th>Followers</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in list">
					<td>
						<img class="photo" ng-src="{{person.avatar}}"/>
						<div class="info">
							<a class="name" href="#">{{person.name}}</a>
							<div ng-class="{true: 'ok', false: 'plus'}[person.subscribe]" ng-click="person.subscribe = !person.subscribe">
								<span class="hide1">+</span>
								<span class="hide2">&#10003;</span>
							</div><br>
							<img class="graph" src="../img/graph.png"/>
							<span class="count">{{person.count}}</span>
						</div>
					</td>
					<td>{{person.ideas}}</td>
					<td>{{person.following}}</td>
					<td>{{person.followers}}</td>
				</tr> 
			</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<div class="ajax_btn">Show more</div>
				</td>
			</tr>
		</tfoot>
		
		</table>
	</div>

</div>
<footer class="footer"></footer>
</body>

</html>